<div class="page-header">
  <h1>Personal Voting</h1>
</div>
<script type="text/x-handlebars">
  <div class="clearfix">
    <div class="input">
      {{view VoteList.CreateCandidateView id="new-candidate-name" placeholder="Who's the new candidate?" class="span12" name="new-candidate-name" }}
    </div>
  </div>
  
  <div class="page-header">
    <h2>Current Candidates</h2>
  </div>
  {{#collection contentBinding="VoteList.CandidateController.sortedContent" tagname="ul" id="CandidateList"}}
    {{#view VoteList.CandidateView personBinding="content" class="well person"}}
      {{person.displayName}}: {{person.score}}
      <span id="controlButtons">
        {{#view SC.Button class="btn primary" target="parentView" action="upvote"}}YAY!{{/view}}
        {{#view SC.Button class="btn danger" target="parentView" action="downvote"}}NOPE!{{/view}}
      </span>
    {{/view}}
  {{/collection}}
</script>